extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
  each val, index in messages
    li= "text" + ': ' + val.text
    li="user" + ': ' + val.user
    li="added" + ': ' + val.added
  
